/******** NOTES **********
 * fix safari date picker numbers
*************************/

@font-face {
  font-family: "wwf";
  src: url('../assets/letters/wwf/wwf-400.otf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "wwf";
  src: url('../assets/letters/wwf/wwf-400i.otf');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "wwf";
  src: url('../assets/letters/wwf/wwf-300.otf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "wwf";
  src: url('../assets/letters/wwf/wwf-300i.otf');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "wwf";
  src: url('../assets/letters/wwf/wwf-200.otf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "wwf";
  src: url('../assets/letters/wwf/wwf-200i.otf');
  font-weight: 200;
  font-style: italic;
}

/***** base *****/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "wwf", serif;
  font-size: 16px;
  line-height: 1.4;
  color: #404040;
  overflow-x: hidden;
}
img {
  max-width: 100%;
}
hr {
  border: none;
  border-top: 1px solid #404040;
  margin: 50px 50px 25px;
}

/***** layout *****/
.grid {
  padding: 0 50px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 25px;
}
.subgrid9 {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 25px;
}
.subgrid8 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 25px;
}
#intro.grid {
  background: #E2DCD7;
}
header {
  margin: 0 50px;
  height: 100px;
  padding: 25px 0;
}
#hero {
  position: relative;
  margin: 0 50px 50px;
  height: calc(100vh - 150px);
  background: url(../assets/img/home-1.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#hero .overlay {
  position: absolute;
  width: 100%;
  height: calc(100vh - 150px);
  background: rgb(100,99,99);
  background: radial-gradient(circle, rgba(100,99,99,1) 0%, rgba(255,255,255,1) 100%);
  mix-blend-mode: multiply;
}
#hero img {
  position: absolute;
  top: calc((100vh - 227px) / 2);
  left: calc((100vw - 350px) / 2);
  width: 250px;
}
#interior #hero.contact {
  background: url(../assets/img/contact-2.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}
#interior #hero.work {
  background: url(../assets/img/work-1.JPG) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}
#interior #hero, #interior #hero .overlay {
  height: 400px;
}
#interior #hero .overlay {
    background: radial-gradient(circle, rgba(100,99,99,1) 0%, rgba(255,255,255,1) 50%);

}
#interior #hero h1 {
  position: absolute;
  top: calc((400px - 60px) / 2);
  left: 0;
  text-align: center;
  width: 100%;
  color: white;
}
#intro {
  margin: 150px 0 75px;
}
#intro .text {
  grid-column: 2 / 9;
  display: flex;
}
#intro .text p {
  align-self: center;
  padding: 50px 0;
}
#intro .image {
  grid-column: 10 / 12;
  background: url(../assets/img/intro-1.png) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  margin: -25px 0;
}
#intro .image img {
  min-height: 350px;
  max-height: 500px;
  width: 100%;
  margin: -25px 0;
}
#page-intro {
  margin: 75px 0;
}
#page-intro .text {
  grid-column: 4 / span 6;
}
#page-intro .text p.big {
  font-size: 1.6rem;
}
#form .image {
  grid-column: span 6;
  background: url(../assets/img/intro-1.png) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  margin: 0;
}
#form .text {
  grid-column: span 6;
}
#work {
  margin: 75px 0;
}
#work h2 {
  margin-left: 50px;
}
#work .gallery img {
  height: 500px;
  padding: 12.5px;
}
#work p {
  text-align: right;
  margin-right: 50px;
}
#process .text {
  grid-column: 1 / 9;
  background: #E2DCD7;
  padding: 100px 0;
  position: relative;
}
#process .text:before {
  content:"";
  z-index:-1;
  position:absolute;
  top:0;
  bottom:0;
  left: -50px;
  width: 100px;
  background:inherit;
}
#process .text h2 {
  grid-column: 2 / 9;
  margin: 0;
}
#process .text p {
  grid-column: 2 / 7;
  font-size: 1.2rem;
}
#process .image {
  height: 500px;
  width: 100%;
  margin-top: -400px;
  grid-column: 8 / 12;
  background: url(../assets/img/process-1.jpeg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 2;
}
#contact {
  margin: 75px 0;
}
#contact .image {
  background: url(../assets/img/contact-1.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  margin: 0 -50px;
  height: 400px;
  grid-column: 1 / 13;
}
#contact .text {
  margin-top: -50px;
  padding: 50px;
  background: #E2DCD7;
  grid-column: 2 / 11;
}
#contact .text h3 {
  grid-column: 1 / 6;
  margin: 0;
  text-align: center;
}
#contact .text .button {
  grid-column: 7 / 9;
}
#interior #gallery {
  column-count: 3;
  padding: 0 50px;
  column-gap: 25px;
}
#interior #gallery img {
  margin-bottom: 25px;
}
footer {
  margin-bottom: 50px;
  display: flex;
}
footer .text {
  grid-column: 1 / span 11;
}
footer .text h4, p {
  margin: 0;
}
footer .image {
  grid-column: 12 / 13;
  display: flex;
  flex-wrap: wrap;
  align-content: end;
  justify-content: right;
  padding: 0 0 10px;
}
/***** nav *****/ 
#mark {
  height: 50px;
  float: left;
  margin-right: 25px;
}
.ww {
  float: left;
  border: 1px solid #404040;
  width: 25px;
  height: 50px;
  line-height: 1.1;
  font-style: italic;
  margin-right: 25px;
  transition: background 500ms ease;
}
.ww:hover {
  background: #C3DBD1;
}
.ww p {
  margin: 2px 0 0 5px;
  font-size: 1.2rem;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav ul li {
  float: left;
  margin-right: 25px;
  margin-top: 15px;
}

/***** links *****/
a, a:link, a:visited {
  font-style: italic;
  text-decoration: none;
  color: #404040;
  transition: color 500ms ease;
}
li a:hover, li a:active, footer a:hover, footer a:active {
  color: #C3DBD1;
}
p a {
  border-bottom: 1px solid #404040;
}
a.active {
  border-bottom: 1px solid #C3DBD1;
}
/***** buttons *****/
#contact button {
  color: #404040;
  border: 1px solid #404040;
  border-radius: 0;
  font-size: 1.4rem;
  background: none;
  width: 100%;
  padding: 15px 0;
  transition: background 500ms ease;
}
#contact button:hover {
  cursor: pointer;
  background: white;
}
/***** form *****/
form {
  margin: 0;
  font-size: 1.2rem;
}
form input, form textarea {
  width: 100%;
  margin: 5px 0 15px;
  border: 1px solid #404040;
  padding: 2px 5px;
}
form textarea {
  min-height: 200px;
}
form input:focus, form textarea:focus {
  outline: none !important;
  border:1px solid #C3DBD1;
  box-shadow: 0 0 10px #C3DBD1;
}
form input[type="date"] {
  width: 100%;
  -webkit-appearance: none;
  background: white;
  color: #404040;
  text-align: left;
  height: 30px;
  font-variant-numeric: tabular-nums;
  -moz-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
}
form input[type="date"].empty, ::placeholder {
  color: darkgrey;
  opacity: .8;
  font-variant-numeric: tabular-nums;
  -moz-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
}
form button {
  padding: 10px 15px;
  border: 1px solid #404040;
  background: white;
  transition: background 500ms ease;
  color: #404040;
  font-weight: 400;
}
form button:hover {
  cursor: pointer;
  border: 1px solid #404040;
  background: #C3DBD1;
}
label.required:after {
  content: "*";
  color: tomato;
}
/***** type *****/
h1 {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  margin: 0;
}
h2 {
  font-size: 4rem;
  font-weight: 300;
  font-style: italic;
  margin: 0 0 25px;
}
h3 {
  font-size: 2.5rem;
  font-weight: 300;
  font-style: italic;
  margin: 0 0 25px;
}
h4 {
  font-size: 2rem;
  font-weight: 300;
  font-style: italic;
  margin: 0 0 5px;
}
p {
  margin-bottom: 5px;
}
p.big {
  font-size: 2rem;
  font-style: italic;
  line-height: 1.4;
}

/***** responsive *****/
@media only screen and (max-width: 1300px) {
  .grid {
    padding: 0 50px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 25px;
  }
  #interior #gallery {
    column-count: 2;
  }
  .subgrid9 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 25px;
  }
  .subgrid8 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 25px;
  }
  #intro {
    margin: 150px 0 75px;
  }
  #intro .text {
    grid-column: 2 / 5;
  }
  #intro .text p {
    align-self: center;
    padding: 50px 0;
  }
  #intro .image {
    grid-column: 6 / 8;
  }
  #page-intro .text {
    grid-column: 2 / span 6;
  }
  #form .image, #form .text {
    grid-column: span 4;
  }
  #work .gallery img {
    height: 400px;
  }
  #process .text {
    grid-column: 1 / 6;
 }
  #process .text h2 {
    grid-column: 2 / 5;
  }
  #process .text p {
    grid-column: 2 / 5;
    font-size: 1.2rem;
  }
  #process .image {
    height: 600px;
    margin-top: -500px;
    grid-column: 5 / 8;
  }
  #contact .image {
    grid-column: 1 / 9;
  }
  #contact .text {
    grid-column: 2 / 8;
  }
  #contact .text h3 {
    grid-column: 1 / 5;
    margin: 0;
    text-align: center;
  }
  #contact .text .button {
    grid-column: 5 / 7;
  }
  footer .text {
    grid-column: 1 / span 7;
  }
  footer .image {
    grid-column: 8 / 9;
  }
}
@media only screen and (max-width: 1000px) {
  .grid {
    padding: 0 50px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 25px;
  }
  .subgrid9 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 25px;
  }
  .subgrid8 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 25px;
  }
  #intro {
    margin: 150px 0 75px;
  }
  #intro .text {
    grid-column: 1 / 5;
  }
  #intro .text p {
    align-self: center;
    padding: 50px 0;
  }
  #intro .image {
    grid-column: 5 / 7;
  }
   #page-intro .text {
    grid-column: 2 / span 4;
  }
  #form .image, #form .text {
    grid-column: span 3;
  }
  #work .gallery img {
    height: 350px;
  }
  #process .text {
    grid-column: 1 / 6;
 }
  #process .text h2 {
    grid-column: 1 / 5;
  }
  #process .text p {
    grid-column: 1 / 5;
    font-size: 1.2rem;
  }
  #process .image {
    height: 400px;
    margin-top: -500px;
    grid-column: 5 / 7;
  }
  #contact .image {
    grid-column: 1 / 7;
  }
  #contact .text {
    grid-column: 1 / 7  ;
  }
  #contact .text h3 {
    grid-column: 1 / 4;
    margin: 0;
    text-align: center;
  }
  #contact .text .button {
    grid-column: 4 / 6;
  }
  footer {
    margin-bottom: 50px;
    display: flex;
  }
  footer .text {
    grid-column: 1 / span 5;
  }
  footer .text h4, p {
    margin: 0;
  }
  footer .image {
    grid-column: 6 / 7;
    padding: 0 0 5px;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  p.big {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 800px) {
  .grid {
    padding: 0 25px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
  }
  #interior #gallery {
    column-count: 1;
    padding: 25px;
  }
  .subgrid9, .subgrid8 {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 25px;
  }
  header {
    margin: 0 25px;
    height: 100px;
    padding: 25px 0;
  }
  #hero {
    position: relative;
    margin: 0 25px 50px;
    height: calc(60vh - 150px);
  }
  #hero .overlay {
    position: absolute;
    width: 100%;
    height: calc(60vh - 150px);
  }
  #hero img {
    position: absolute;
    top: calc((60vh - 227px) / 2);
    left: calc((100vw - 300px) / 2);
    width: 250px;
  }
  #interior #hero, #interior #hero .overlay {
    height: 200px
  }
  #interior #hero .overlay {
    background: radial-gradient(circle, rgba(150,150,150,1) 0%, rgba(255,255,255,1) 100%);
  }
  #interior #hero h1 {
    top: calc((200px - 60px) / 2);
    font-weight: 400;
  }
  #intro {
    margin: 50px 0;
  }
  #intro .text {
    grid-column: 1 / 5;
  }
  #intro .text p {
    align-self: center;
    padding: 50px 0;
  }
  #intro .image {
    grid-column: 1 / 5;
    height: 250px;
    margin: -50px 0;
  }
   #page-intro .text {
    grid-column: 1 / span 4;
  }
  #form .image {
    height: 400px;
  }
  #form .image, #form .text {
    grid-column: span 4;
  }
  #work {
    margin: 100px 0 75px;
  }
  #work h2 {
    margin: 0 0 0 25px;
  }
  #work .gallery img {
    height: 300px;
  }
  #process .text {
    grid-column: 1 / 5;
    padding: 50px 25px 50px 0;
 }
  #process .text h2 {
    grid-column: 1;
  }
  #process .text p {
    grid-column: 1;
    font-size: 1.2rem;
  }
  #process .image {
    height: 400px;
    width: calc(100% - 25px);
    margin-top: -50px;
    grid-column: 1 / 5;
    z-index: 2;
  }
  #contact .image {
    grid-column: 1 / 5;
    margin: -25px;
  }
  #contact .text {
    grid-column: 1 / 5;
    padding: 25px;
  }
  #contact .text h3 {
    grid-column: 1;
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
  }
  #contact .text .button {
    grid-column: 1;
  }
  #contact button {
    font-size: 1.2rem;
  }
  hr {
    margin-left: 25px;
    margin-right: 25px;
  }
  footer {
    margin-bottom: 50px;
    display: flex;
    text-align: center;
  }
  footer .text {
    grid-column: 1 / span 4;
  }
  footer .text h4, p {
    margin: 0;
  }
  footer .text p {
    font-size: .8rem;
  }
  footer .image {
    grid-column: 1 / span 4;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    justify-content: center;
    padding: 0;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  p.big {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 600px) {
  #work .gallery img {
    height: 250px;
  }
}
@media only screen and (max-width: 400px) {
  #work .gallery img {
    height: 200px;
  }
}
